@font-face
    font-family: "Century Gothic"
    src: url('../fonts/centurygothic/centurygothic.ttf')
    font-weight: 400

@font-face
    font-family: "Century Gothic"
    src: url('../fonts/centurygothic/centurygothic_bold.ttf')
    font-weight: 700

@font-face
    font-family: "Montserrat"
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf')
    font-weight: 500

body
    font-family: "Century Gothic"
    background: #D1DBFF

%text
    font-weight: 400
    font-size: 1.56em
    line-height: 31px
    letter-spacing: 0.05em
    color: #0A1C26
%button
    font-weight: 700
    font-size: 1.875em
    letter-spacing: 0.05em
    color: #FBFFFF
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
    text-decoration: none
    background: linear-gradient(94.59deg, #DDCCFF 0%, #B2C3FF 99.99%, #D1DBFF 100%)
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05)
    padding: 28px 42px
    transition: all .3s
    border-radius: 10px
    transition: all .3s
    &:hover
        background: linear-gradient(94.59deg, #6C22FF 0%, #5B7FFF 99.99%, #D1DBFF 100%)

%title
    font-weight: 700
    font-size: 3.125em
    line-height: 105%
    letter-spacing: 0.05em
    color: #FBFFFF
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

%title__mobile
    @extend %title
    font-size: 36px
    line-height: 44px

.container
    max-width: 1395px
    margin: 0 auto

.header
    padding: 11px 0px
    background: rgba(255, 255, 255, 0.4)
    box-shadow: 0px 1px 7px rgba(255, 255, 255, 0.25)
    backdrop-filter: blur(15px)

    &__wrapper
        display: flex

        align-center: center
        justify-content: space-between

    &__menu
        list-style: none
        display: flex

        margin-left: 70px
        &-item
            margin: 0px 50px
            &:first-child
                &:hover
                    .dropdown
                        opacity: 1
                        top: 135px

        &-link
            color: black
            font-weight: 400
            font-size: 1.5em
            line-height: 29px
            letter-spacing: 0.05em
            text-decoration: none
            position: relative
            &:hover
                &::before
                    content: ""
                    width: 100%
                    height: 1px
                    bottom: -5px
                    position: absolute
                    background: linear-gradient(94.59deg, #AF87FF 0%, #5B7FFF 99.99%, #D1DBFF 100%)
        .dropdown
            padding: 30px
            position: absolute
            background: white
            left: 13%
            top: -105px
            border-radius: 0px 0px 10px 10px
            opacity: 0
            transition: all .3s
            li
                margin-top: 20px
                max-width: 380px
                a
                    text-decoration: none
                    font-size: 16px
                    line-height: 20px
                    letter-spacing: 0.05em
                    color: #0A1C26
                    transition: all .3s
                    &:hover
                        background: linear-gradient(94.59deg, #AF87FF 0%, #5B7FFF 99.99%, #D1DBFF 100%)
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                        background-clip: text
                        text-fill-color: transparent
                &:first-child
                    margin-top: 0

    &__nav
        display: flex
        align-items: center
    &__contacts
        display: flex
        flex-direction: column
        justify-content: center
        &-pretitle
            display: block
            font-weight: 400
            font-size: 18px
            line-height: 22px
            letter-spacing: 0.05em
            color: #5E5E5E
            text-decoration: none

        &-title
            display: block
            color: black
            font-weight: 400
            font-size: 1.5em
            line-height: 29px
            letter-spacing: 0.05em
            text-decoration: none
    &__main
        display: flex
        align-items: center
    .burger
        display: none
        cursor: pointer
        position: relative
        width: 30px
        height: 30px
        div
            width: 30px
            height: 2px
            background: black
            position: absolute
            left: 0
            transition: all .3s
            &:first-child
                margin-top: 0
            &:nth-child(2n)
                top: 10px
            &:nth-child(3n)
                top: 20px
        &.active

            div

                &:nth-child(1n)
                    transform: rotate(45deg)
                    top: 7px
                    left: 0px
                &:nth-child(2n)
                    opacity: 0
                    transform: none
                &:nth-child(3n)
                    top: 7px
                    left: 0px
                    transform: rotate(-45deg)
    &-right-wrap
        display: flex
        align-items: center
        gap: 60px
.header__menu-mobile
    transform: translateX(-100%)
    transition: all .6s ease-in-out
    position: fixed
    height: 100%
    left: 0
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(94.59deg, #AF87FF 0%, #5B7FFF 99.99%, #D1DBFF 100%)
    z-index: 950
    display: none
    ul
        max-width: 500px
        margin: 0 auto
    li
        font-weight: 700
        font-size: 25px
        line-height: 31px
        text-align: center
        letter-spacing: 0.05em
        margin-top: 30px
        a
            text-decoration: none
            color: #FBFFFF
    &.active
        transform: translateX(0%)

.main
    background-image: url('../images/backgrounds/1.png')
    background-position: 100% top
    background-repeat: no-repeat
    padding-bottom: 240px
    & main
        padding: 100px 0px 0px
    &__opportunities
        list-style: none
        margin-top: 45px
        &-item
            position: relative
            margin-top: 20px
            @extend %text
            margin-left: 25px
            &::before
                content: ''
                width: 12px
                height: 12px
                left: -20px
                top: 50%
                transform: translateY(-50%)
                background: linear-gradient(94.59deg, #AF87FF 0%, #5B7FFF 99.99%, #D1DBFF 100%)
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1)
                border-radius: 10px
                position: absolute

    &__title
        font-style: normal
        font-weight: 700
        font-size: 70px
        line-height: 86px
        letter-spacing: 0.05em
        color: #FBFFFF
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        max-width: 580px
    &__button
        @extend %button
        margin-top: 65px
        display: inline-block
        transition: all .3s

.title
    @extend %title

.advantagers
    padding-top: 150px
    margin-top: -125px
    background: url('../../images/backgrounds/2.png') right bottom no-repeat
    &__title
        line-height: 61px
        letter-spacing: 0.05em

    &__wrapper
        display: flex
        justify-content: space-between
    &__text
        margin-top: 50px
        line-height: 31px
        @extend %text
    &__content
        max-width: 610px
    &__button
        margin-top: 40px
        display: inline-block
        @extend %button

    &__cards
        display: grid
        grid-gap: 45px
        grid-template-columns: repeat(2, 1fr)
        max-width: 675px
    &__card
        background: #FFFFFF
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 1px 7px rgba(255, 255, 255, 0.25)
        border-radius: 10px
        padding: 45px 29px 45px 45px
        &-title
            color: #0A1C26
            font-size: 1.25em
            font-weight: 700
            font-family: inherit
            letter-spacing: 0.05em
            margin-top: 30px
            line-height: 22px

        &-content
            font-weight: 400
            font-size: 1em

            color: #454748
            letter-spacing: 0.05em
            margin-top: 20px
            max-height: 76px
        &-icon
            display: block
            width: 80px
            height: 80px
    &__button-mobile
        display: none
.program
    position: relative
    padding: 175px 0px 175px

    margin-top: -20px
    &__title
        text-align: center
    &__cards
        display: flex

        align-items: stretch
        justify-content: space-between

        margin-top: 45px
        &-item
            background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%)
            border: 1px solid #FBFFFF

            padding: 20px 15px
            text-align: center
            height: auto

            border-radius: 10px

    &__card
        min-height: 370px
        transition: all .3s
        &-title
            font-weight: 700
            font-size: 1.875em
            text-align: center
            letter-spacing: 0.05em
            margin-top: 17px
        &-content
            font-weight: 400
            font-size: 1.125em
            line-height: 22px
            letter-spacing: 0.05em
            color: #5E5E5E
            margin-top: 20px
            max-width: 308px
        &-icon
            width: 90px
            height: 90px
        &:hover
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)

    &__swiper
        &-nav
            display: none
            z-index: 500

    .swiper-slide
        transform: scale(1)

        &::before
            display: none
        &.active
            background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%)

.company__wrapper
    background: url('../images/backgrounds/3.png')
    background-repeat: no-repeat
    background-position: 0% -180%

.courses
    padding-top: 175px

    background-image: url('../images/backgrounds/4.png')
    background-position: right 35% bottom 650%

    background-repeat: no-repeat
    &__title
        max-width: 960px
        text-align: end
        margin-left: auto
    &__subtitle
        max-width: 960px
        text-align: end
        margin-left: auto
        @extend %text
        margin-top: 50px

    &__swiper
        width: 100%
        overflow: hidden

    &__pagination
        display: none

    &__cards

        margin-top: 35px
        padding: 50px 20px
        &-item
            background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.12) 100%)
            box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.15), 0px 1px 7px rgba(255, 255, 255, 0.25)
            backdrop-filter: blur(15px)
            border-radius: 10px
            display: flex

            align-items: center
            padding-left: 45px
        .swiper-slide-active
            display: flex
            justify-content: center

    &__card
        position: relative
        overflow: hidden
        &-title
            @extend %text
            font-weight: 700
            letter-spacing: 0.05em
        &-button
            @extend %button
            margin-top: 25px
            padding: 15px 45px
            font-size: 1.25em
            letter-spacing: 0.05em
            display: inline-block
        &::before
            position: absolute
            content: 'Выгодно'
            top: 15px
            left: -35px
            font-weight: 700
            font-size: 15px
            line-height: 18px
            letter-spacing: 0.05em

            color: #000000

            width: 100px
            height: 30px
            background-color: white
            display: flex
            align-items: center
            justify-content: center
            transform: rotate(-45deg)
            padding: 5px 20px

.contacts
    background: url('../images/backgrounds/5.png') center center
    padding: 175px 0px
    &__wrapper
        display: flex
        align-items: start
        margin-top: 120px
        justify-content: space-between
    &__text
        &-title
            @extend %text
            font-weight: 700
        &-content
            margin-top: 35px
            max-width: 470px
            @extend %text

.team
    padding: 100px 0px

    filter: drop-shadow(0px 4px 46px rgba(0, 0, 0, 0.15))
    background: url('../images/backgrounds/team.png')
    background-size: cover
    &__photo
        &-swiper
            width: 380px
            overflow: hidden
            border-radius: 10px
    &__wrapper
        display: flex
        align-items: end
        justify-content: space-between
    &__slider
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        overflow: hidden
        min-height: 450px
        display: flex
        align-items: center
        width: 100%

    &__slide
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 1400px
        position: absolute
        top: 0
        left: 0
        width: 100%
        display: none
        opacity: 0
        &-image
            border-radius: 10px
        &-text
            max-width: 845px
            margin-left: 20px
        &-title
            font-weight: 700
            font-size: 35px
            line-height: 43px
            display: flex
            align-items: flex-end
            letter-spacing: 0.05em
            color: #0A1C26
        &-name
            font-weight: 700
            font-size: 30px
            line-height: 37px
            letter-spacing: 0.05em
            color: #FBFFFF
            text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25)
            margin-top: 25px
        &-position
            font-weight: 700
            font-size: 20px
            line-height: 25px
            letter-spacing: 0.05em
            color: #5E5E5E
            margin-top: 15px
        &-footer
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: 40px
        &.active
            display: flex
            opacity: 1
        &:nth-child(2n)
            .team__slide-title
                font-size: 30px
                line-height: 100%
        &:nth-child(3n)
            .team__slide-title
                font-size: 30px
                line-height: 100%
    &__navigation
        display: flex
        align-items: center
        justify-content: space-between
        gap: 20px

        .team__next, .team__prev
            border-radius: 50%
            cursor: pointer

    &__info
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        cursor: pointer
        &-icon
            border-radius: 50%
            margin-left: 20px
        &-title
            font-weight: 400
            font-size: 18px
            line-height: 22px
            letter-spacing: 0.05em
            color: #5E5E5E
    &__modal
        max-width: 330px
        padding: 30px 22px
        font-weight: 400
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.05em
        color: #5E5E5E
        position: absolute
        background: white
        bottom: -30px
        left: -110px
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
        border-radius: 10px
        opacity: 0
        display: none
        & p
            margin-top: 20px
            &:first-child
                margin-top: 0
        &.active
            opacity: 1
            display: block
        

    &__navigate
        display: flex
        align-items: center

        &-icon
            cursor: pointer
            max-height: 64px
            &:hover
                circle

                    fill: black
                path

                    fill: white
        &-prev
            transform: rotate(180deg)
            margin-left: 15px

.form
    padding: 60px
    max-width: 675px
    background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.12) 100%)
    box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.15), 0px 1px 7px rgba(255, 255, 255, 0.25)
    backdrop-filter: blur(15px)
    border-radius: 10px
    &__button
        @extend %button
        border: none
        cursor: pointer
        display: inline-block
        margin: 70px auto 0px
        font-size: 30px
        padding: 22px 66px

        display: flex
    &__input
        width: 100%
        display: inline-block
        margin-top: 50px
        border: none
        display: inline-block
        border-bottom: 2px solid white
        font-size: 1.25em
        outline: none
        background: none
        padding: 15px 20px

        &:first-child
            margin-top: 0
        &::placeholder
            color: #9B9B9B
            text-transform: uppercase
    &__policity
        margin-top: 20px
        font-weight: 400
        font-size: 15px
        line-height: 18px
        text-align: center
        letter-spacing: 0.05em
        color: #939393
        a
            color: #939393
            text-decoration-color: #939393

.footer
    padding-bottom: 90px
    &__wrapper
        border-top: 3px solid white
        padding-top: 55px
    &__content
        padding-top: 1px solid white
        display: flex
        align-items: start
        justify-content: space-between
        margin-top: 20px
        ul
            li
                font-weight: 400
                font-size: 18px
                line-height: 22px
                color: rgba(0, 0, 0, 0.7)
                margin-top: 20px
                &:first-child
                    margin-top: 0
                a
                    font-weight: 400
                    font-size: 18px
                    line-height: 22px
                    color: rgba(0, 0, 0, 0.7)
                    text-decoration: none
                    transition: all .3s
                    &:hover
                        background: linear-gradient(94.59deg, #AF87FF 0%, #5B7FFF 99.99%, #D1DBFF 100%)
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                        background-clip: text
                        text-fill-color: transparent
        &-wrap
            display: flex
            align-items: start
            justify-content: space-between
            gap: 90px
    &__policity
        max-width: 380px
        margin-top: 50px
        font-weight: 400
        font-size: 18px
        line-height: 22px
        letter-spacing: 0.05em

        color: rgba(10, 28, 38, 0.7)
    &__contacts
        margin-top: 20px
        &-item
            text-decoration: none
    &__input
        background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.12) 100%)
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1), 0px 1px 7px rgba(255, 255, 255, 0.25)
        backdrop-filter: blur(15px)
        border-radius: 10px
        border: 2px solid white
        padding: 23px 20px
        outline: none
        width: 320px
        &::placeholder
            color: #939393
            display: block
    &__button
        @extend %button
        display: block
        font-size: 18px
        line-height: 22px
        padding: 12px 20px
        max-width: 170px
        margin-top: 22px
    &__mobile
        display: none
.date
    margin-top: 30px
    display: flex
    align-items: center

    &__text
        margin-left: 10px
        font-family: "Montserrat"
        font-weight: 500
        margin-top: 2px
        font-size: 15px

.seat
    margin-top: 15px
    display: flex
    &__text
        margin-left: 10px
        font-family: "Montserrat"
        font-weight: 500
        margin-top: 3px

.time
    margin-top: 15px
    display: flex
    &__text
        margin-left: 10px
        font-family: "Montserrat"
        font-weight: 500
        margin-top: 3px

@media (min-width: 1250px)
    .courses
        & .swiper-wrapper
            transform: none !important
            display: flex
            align-items: center
            justify-content: center
            gap: 45px
            flex-wrap: wrap
            width: 100%
            margin-top: 85px
            height: 100% !important
            .swiper-slide
                width: auto !important
        &__cards
            &-item
                max-width: 650px

@media (max-width: 1400px)
    .main
        &__title
            font-size: 2.2em
            line-height: 44px

    .title
        font-size: 2.2em
        line-height: 130%

    .container
        padding: 0 20px
    .advantagers
        margin-top: -100px
        &__cards
            grid-gap: 30px
        &__card
            &-content
                max-height: 100%
        &__content
            max-width: 550px
        &__text
            font-size: 18px
            line-height: 22px
    .team__info-title
        font-size: 20px

@media (max-width: 1250px)
    .header__menu-mobile
        display: flex
    .burger
        display: block !important

    .advantagers
        &__wrapper
            flex-direction: column
            justify-content: center
        &__cards
            max-width: 100%
            margin-top: 50px
        &__content
            text-align: center
            max-width: 100%
            max-width: 600px
            margin: 0 auto
        &__title
            max-width: 440px
            margin: 0 auto
            line-height: 44px
        &__text
            margin-top: 30px
            line-height: 22px
        &__button
            display: none
    .company__wrapper
        background: none
    .program

        padding-top: 290px
        background-size: cover
        background: url('../images/backgrounds/3-mobile.png') left center no-repeat
        &__swiper
            width: 100%
            max-width: 650px

            margin: 0 auto
            overflow: hidden
            &-nav
                display: block
                position: absolute
                top: 55%

                cursor: pointer

            .swiper__program-next
                right: 50px

            .swiper__program-prev
                left: 50px

        &__card
            height: 380px
            &-content
                margin: 20px auto
        &__cards
            gap: 0px
        &__pagination
            display: flex
            justify-content: center
            margin-top: 20px
            .swiper-pagination-bullet
                width: 12px
                height: 12px
                background: #FBFFFF
                opacity: 0.5
                &.active
                    opacity: 1
        .swiper-slide
            position: relative
            transform: scale(0.85) !important
            transition: 0.9s transform
            will-change: transform
            border-radius: 10px

            opacity: 0

            &:before
                content: ''
                position: absolute
                inset: 0
                background-color: rgba(255, 255, 255, 0.1)
                transition: 0.32s transform
                transform-origin: top
                will-change: transform
                display: block !important
                border-radius: 10px

            &.active
                transform: scale(1) !important
                z-index: 5
                background: white !important
                opacity: 1

                &:before
                    transform: scaleY(0)

        .swiper-slide-prev
            opacity: 1
        .swiper-slide-next
            opacity: 1

    .header
        padding: 7px 0px
        &__menu
            display: none
        &__contacts
            &-pretitle
                font-size: 1em
            &-title
                font-size: 1.3em

        &__logo
            widows: 73px
            height: 64px
    .main

        background-image: url('../images/backgrounds/1-mobile.png')

        background-size: cover
        background-repeat: no-repeat
        padding-bottom: 0px

        main
            padding: 45px 0px 130px
        &__title
            font-size: 2.2em
            max-width: 450px

        &__opportunities
            margin-top: 30px
            &-item
                font-size: 1.1em
                margin-top: 10px
                &:first-child
                    margin-top: 0
        &__button
            font-size: 1.1em
            margin-top: 35px
            padding: 16px
    .advantagers
        margin-top: -75px
        background: url('../images/backgrounds/2-mobile.png') right no-repeat
        padding-top: 100px
    .team

        &__slide
            &-title
                font-size: 25px !important
                line-height: 110%
            &:nth-child(2n)
                font-size: 25px !important
            &:nth-child(3n)
                font-size: 25px !important
    .courses
        background-position: right 35% bottom -30%
        &__title
            text-align: center
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
            max-width: 770px
            margin: 0 auto
        &__subtitle
            text-align: center
            font-size: 1.2em
            max-width: 750px
            margin: 20px auto 0
        &__pagination
            display: flex
            align-items: center
            justify-content: center
            margin-top: 45px
            & .swiper-pagination-bullet
                width: 12px
                height: 12px
                background: #FBFFFF
                opacity: 0.5
                &.active
                    opacity: 1
    .contacts
        &__wrapper
            flex-direction: column
            justify-content: center
            align-items: center
            margin-top: 30px
        &__text
            &-content
                max-width: 750px
                text-align: center
                font-size: 1.2em
                line-height: 22px
                margin-top: 0
            &-title
                display: none
        &__title
            text-align: center
        & .form
            margin-top: 50px
    .footer
        &__content
            &-wrap
                display: block
            &-item
                &:last-child
                    margin-top: 50px

@media (max-width: 1000px)
    .team
        &__slide
            flex-direction: column
            &-title
                margin-top: 40px
        &__slider
            min-height: 800px
    .advantagers
        &__button-mobile
            display: inline-block
            font-size: 25px
            padding: 30px 45px
            max-width: 300px
            margin: 50px auto
    .program
        padding-top: 100px
        background-position: left 20%

@media (max-width: 650px)
    .container
        padding: 0px 15px
    .main
        &__button
            margin: 35px auto 0px
            display: block
            padding: 16px 40px
            text-align: center
            width: 250px
    .advantagers
        z-index: 500
        &__title
            text-align: start
            font-size: 23px
            line-height: 28px
        &__text
            font-size: 1em
            margin-top: 30px
            text-align: start
        &__cards
            grid-template-columns: 1fr
        &__card
            text-align: center
            padding: 20px
            &-icon
                margin: 0 auto
        &__button
            font-size: 18px
            padding: 17px
            text-align: center
            width: 100%

    .program
        padding: 100px 0px
        background-position: center center
        background-size: cover
        margin-top: 0
        .container
            padding: 0
        .swiper-slide
            opacity: 0.7
            transform: scale(0.9) !important
            display: flex
            flex-direction: column-reverse
            &::before
                display: none
        .swiper-slide-active
            opacity: 1 !important
            transform: scale(1) !important
            background: white
        .swiper__navigation
            display: none
        &__card
            &-title
                font-size: 20px
            &-content
                font-size: 16px
    .team
        padding: 40px 0px

        background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.12) 100%)
        max-width: 90%
        margin: 40px auto
        box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.15), 0px 1px 7px rgba(255, 255, 255, 0.25)
        backdrop-filter: blur(15px)
        border-radius: 10px
        &__user
            display: flex
            flex-direction: column-reverse
            text-align: center
        &__navigate
            margin-top: 25px
            margin-left: 0
        &__slide
            &-text
                margin-left: 0
            &-footer
                flex-direction: column-reverse
                justify-content: center
                align-items: center
                margin-top: 50px
            &-title
                font-size: 18px !important
                margin-top: 15px
            &-name
                font-size: 25px !important
            &-position
                margin-top: 5px
        &__info
            &-icon
                display: none

            &-title
                cursor: pointer
                font-size: 14px
                wdith: 100%
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
                padding: 15px
                margin: 0px 0px 25px
                background: linear-gradient(94.59deg, #DDCCFF 0%, #B2C3FF 99.99%, #D1DBFF 100%)
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05)
                border-radius: 5px
                color: white
    .courses
        background: none
        padding-top: 80px

        .container
            padding: 0
        &__pagintation
            margin-top: 15px
        &__card
            padding: 70px 14px
            background: url('../images/courses/1-mobile.png')
            background-position: bottom right
            background-repeat: no-repeat
            &-img
                display: none
            &::before
                height: 14px
                font-size: 12px
            &-button
                display: block
                padding: 17px 55px
                text-align: center
                max-width: 225px
                margin: 25px auto 0px
            &-title
                font-size: 1em
                line-height: 20px
        &__title
            text-align: start
            margin-left: 15px
            font-size: 23px
        &__subtitle
            margin-left: 15px
            text-align: start
            font-size: 1em
        &__cards
            padding: 30px 0px
            margin-top: 0
    .contacts
        margin-top: 50px
        padding: 0
        margin-bottom: 80px
        &__title
            font-size: 23px
            text-align: start
        &__text-content
            font-size: 1em
            text-align: start
    .form
        padding: 30px
        &__input
            margin-top: 20px
            font-size: 14px
        &__button
            margin-top: 30px
            display: block
            width: 100%
            font-size: 15px
            padding: 15px
        &__policity
            font-size: 12px
            text-align: start
    .footer
        &__wrapper
            display: none
        &__mobile
            display: block
        &__header
            display: flex
            justify-content: space-between
            align-items: start
        &__menu

            &-item
                font-size: 1em
                margin-top: 15px
                &:first-child
                    margin-top: 0
        &__logo
            height: 56px
        &__links
            margin-top: 50px
            list-style: none
            li
                display: inline-block
                margin-top: 30px
                &:first-child
                    margin-top: 0

                a
                    text-decoration: none
                    color: black
                    font-weight: 400
                    font-size: 1em
        &__contacts-links
            margin-top: 50px
            li
                margin-top: 10px
                &:first-child
                    margin-top: 0
                a
                    text-decoration: none
                    color: black
                    font-weight: 400
                    font-size: 1em
        &__contacts
            margin-top: 20px
        &__input
            padding: 25px
            width: 100%
            background: linear-gradient(94.81deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.12) 100%)
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 1px 7px rgba(255, 255, 255, 0.25)
.cookie-modal
    display: none
    background-color: white
    max-width: 90%
    position: fixed
    bottom: 20px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    box-shadow: 0px 11px 37px rgba(0, 0, 0, 0.18)
    border-radius: 10px
    z-index: 900
    padding: 20px 35px
    font-size: 14px
    line-height: 17px
    text-align: center
    &__content
        text-align: start
    &__btn
        display: inline-block
        margin: 0 auto
        margin-top: 15px
        background: none
        padding: 7px 47px
        border: 1px solid #0B63CA
        border-radius: 10px
        cursor: pointer
    & a
        color: #0B63CA
        text-decoration: none
    &.active
        display: block

@media (max-width: 650px)
    .cookie-modal
        padding: 20px 30px
    .header__menu-mobile
        li
            font-size: 20px
            max-width: 270px
    .header-right-wrap
        gap: 20px
    .main
        background-position: initial
@media (max-width: 550px)
    .team__slider
        min-height: 900px
